.auth_main_container, .second_auth_main_container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-body);
}
.auth_principal_container, .second_auth_principal_container {
	width: 650px;
	height: 540px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	border-radius: 30px;
	padding: 15px;
	background-color: var(--color-cards);
	box-shadow: var(--shadow-cards);
	transition: .5s;
}
.second_auth_principal_container {
	width: 807px;
    height: max-content;
	margin: 0px 30px;
}
.auth_poster_card {
	width: 350px;
	height: 100%;
	border-radius: 15px;
	background-image: url('../../public/assets/images/poster_background.png');
	background-size: cover;
	background-repeat: no-repeat;
	transition: .5s;
	position: relative;
}
.poster_logo {
	position: absolute;
	top: 7px;
	left: 18px;
	width: 120px;
}
.auth_children_container {
	width: 300px;
	height: 100%;
	padding: 10px 20px 10px 0px;
	position: relative;
}
.children_logo {
	display: none;
	width: 131px;
}
.second_auth_children_container {
	width: 100%;
	height: 100%;
	padding: 10px;
	position: relative;
}
@media screen and (max-width: 650px) {
	.poster_logo {
		display: none;
	}
	.children_logo {
		display: initial;
		height: 32px;
	}
	.auth_poster_card {
		width: 0px;
	}
	.auth_children_container {
		padding: 10px 10px;
	}
	.auth_principal_container {
		border-radius: 15px;
		width: 300px;
		gap: 0px;
	}
	.second_auth_principal_container {
		height: max-content;
		border-radius: 15px;
	}
	.page_title {
		display: none;
	}
	.menu {
		right: 4px;
    	top: 55px;
	}
}
@media screen and (max-width: 450px) {
	.step1_body > p.basic_text {
		line-height: 25px;
	}
	.auth_principal_container {
		box-shadow: none;
		width: 100%;
		height: 100dvh;
		box-shadow: var(--shadow-cards);
	}
	.second_auth_principal_container {
		height: 100%;
		border-radius: 0px;
		margin: 0px;
		padding-bottom: 10px;
	}
	.second_auth_main_container {
		height: max-content;
	}
	.auth_main_container {
		display: initial;
	}
	.auth_children_container {
		width: 100%;
	}
	.container_body {
		margin-top: 60px;
	}
}