.container_body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.container_body > h1{
    font-family: Rubik;
    font-size: var(--font-page-focus);;
    width: 100%;
    line-height: 35px;
    color: var(--color-text);
    text-align: center;
}
.container_body > p {
    font-size: var(--font-small);
    font-family: Rubik;
    color: var(--color-placeholder);
    text-align: center;
    line-height: 25px;
}
.container_body > img {
    width: 300px;
    height: 300px;
}