.container header{
   justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    justify-content: center;
     
    left: 0%;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    
}
.container form{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: var(--color-body);
    border-radius: 20px;
    padding: 10px 20px 0px 20px;
}
.container form .form{
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 15px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    margin: 4px 0;
    height: 45px;
    padding: 0px 20px;
    outline: none;
    border: var(--border-input);
    border-radius: 7px;
    font-family: Inter_Light;
    font-weight: 200px;
    font-size: 13px;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}


.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #f26726;
}

.buttons{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.info_body {
    width: 100%;
    
    margin-top: 10px;
    height: max-content;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
    .info_body {
        height: 100%;
    }
    .container {
        height: 100%;
    }
    form {
        height: calc(100dvh - 170px);
        border-radius: 12px;
    }
}