.not_found {
    width: 100%;
    height: 100%;
    background-color: var(--color-cards);
    position: relative;
}

.not_found_central {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    transition: .3s;
}

.not_found_svg_container {
    padding-right: 10px;
    width: 55%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .3s;
}

.not_found_svg_container > svg {
    width: 500px;
}

.not_found_text_container {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.not_found_title {
    font-size: 60px;
    color: var(--color-focus2);
    font-weight: 600;
    max-width: 400px;
    transition: .3s;
}
.not_found_text_container > p {
    text-align: justify;
    max-width: 500px;
    margin-bottom: 10px;
    line-height: 20px;
}

.not_found_footer {
    position: absolute;
    bottom: 20px;
    opacity: 0.7;
    left: calc(50% - 95px);
}

.not_found_logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 130px;
}

@media screen and (max-width: 870px) {
    .not_found_title {
        font-size: 40px;
    }
    .not_found_text_container > p { 
        max-width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .not_found_svg_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        height: max-content;
    }

    .not_found_svg_container > svg  {
        width: 70%;
    }
    .not_found_text_container { 
        width: 100%;
        margin: 0px;
        height: max-content;
        align-items: center;
        justify-content: center;
        max-width: none;
        min-width: none;
    }
    .not_found_text_container > p {
        text-align: center;
        max-width: none;
        min-width: none;
    }
    .not_found_central {
        flex-direction: column;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        height: 97dvh;
    }
    .not_found_title {
        font-size: 28px;
    }
    .not_found_footer {
        width: 100%;
        text-align: center;
        margin: 0px auto 0px auto;
        position: initial;
    }
    .not_found {
        padding-bottom: 20px;
        height: max-content;
        height: 3dvh;
    }
}

@media screen and (max-width: 400px) {
    .not_found_title {
        font-size: 20px;
    }
    .not_found_svg_container > svg  {
        width: 90%;
    }
}