/*=======================Pay Type 01 ==========================*/
.pt1_container, .pt3_container {
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}
.pt1_container > .top, .pt3_container > .top {
    width: 100%;
    height: max-content;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pt1_container .top > h1, .pt3_container > .top > h1 {
    font-family: Rubik;
    font-size: var(--font-small);
    color: var(--color-text);
    text-align: center;
    width: 30%;
}
.pt1_container > .top > .separator, .pt3_container > .top > .separator {
    width: 40%;
}
.pt1_container > .bottom {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    gap: 30px;
}
.pt1_container  > .bottom > .left {
    width: 30%;
    height: 100%;
    font-size: var(--font-small);
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.pt1_container > .bottom > .left > .services {
    width: 100%;
    flex: auto;
    background-color: #efefef;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pt1_container > .bottom > .left > .services::-webkit-scrollbar {
    display: none;
}
.pt1_container > .bottom > .right {
    width: 70%;
    height: 100%;
}


/*»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»PT3»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*/
.pt3_container > .bottom {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    position: relative;
}

.pt3_container > .bottom > .left, .pt3_container > .bottom > .right {
    width: 30%;
    height: 70%;
}

.pt3_container > .bottom > button {
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-color: var(--color-focus);
    color: var(--color-cards);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid transparent;
}
.pt3_container > .bottom > button:hover {
    border-color: var(--color-focus);
}
.pt3_container > .bottom > button > svg {
    width: 24px;
    height: 24px;
}

/*«««««««««««««««««««««««««««««««««««««««««««»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*/
.wallet.rigth {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    background-color: var(--color-body);
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}
.wallet.rigth::-webkit-scrollbar {
    display: none;
}
.wallet.rigth > .input_field {
    margin: 0px;
}
.wallet.rigth > .buttonContainer{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.wallet.rigth > .buttonContainer  > button {
    width: 270px;
    padding: 10px 0;
    background-color: var(--color-focus);
    color: var(--color-cards);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}
.wallet.rigth > .buttonContainer > button > svg {
    width: 24px;
    height: 24px;
}