.home_main {
    width: 100%;
    height: 100%;
    background-color: var(--color-body);
    position: relative;
}
.home_navbar {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 0px 80px;
    border-bottom: 1px solid var(--color-border3);
    background-color: var(--color-cards);
}
.home_main > svg {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 124px;
    z-index: 100;
    height: 37px;
}
.home_body {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.left > img {
    width: 500px;
    height: 500px;
}
.left > h1{
    font-family: Rubik;
    font-size: var(--font-page-focus);;
    width: 80%;
    line-height: 60px;
    color: var(--color-text);
    text-align: center;
}
.left > p {
    font-size: 1.02rem;
    font-family: Rubik;
    color: var(--color-placeholder);
    text-align: justify;
    line-height: 25px;
}
.left > a {
    
    text-decoration: underline;
    color: var(--color-link);
    font-family: Rubik;
    
}
.right {
    background-color: var(--color-cards);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.not_found_footer {
    position: absolute;
    bottom: 20px;
    opacity: 0.7;
    left: calc(50% - 95px);
}


@media screen and (max-width: 1080px) {
    .left > img {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 850px) {
    .home_body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        position: relative;
    }
    .home_main{
        height: 100%;
    }
    .right {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .left {
        display: none;
    }

}
@media screen and (max-width: 500px) {
    form.login_form {
        width: 100% !important;
        padding: 0px 20px;
        height: 100%;
    }
    .home_main > svg {
        display: none;
    }
    .right {
        justify-content: flex-start !important;
        padding-top: 20px;
    }
    .body_form {
        margin-top: 120px !important;
    }

}

/*=======================LOGIN FROM =======================================*/

.login_form {
    width: 450px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header_form {
    width: 100%;
    height: max-content;
    color: var(--color-text);
    font-family: Rubik;
}
.header_form > h1 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.header_form > p {
    font-size: var(--font-small);
}
.header_form > p > a {
    text-decoration: underline;
    color: var(--color-link);
    font-family: Rubik;
}
.body_form {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}
.terms {
    margin-top: 30px;
    width: 100%;
    height: max-content;
}
.terms > p {
    font-size: var(--font-small);
    font-family: Rubik;
    line-height: 22px;
    color: var(--color-placeholder);
    text-align: center;
}
.terms > p > a {
    text-decoration: underline;
    color: var(--color-link);
    font-family: Rubik;
}


/*======================================Fragments==========================================*/

.fragments_container {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;
}
.phone_fragment {
    width: 16%;
    height: 60px;
    font-size: var(--font-page-focus);;
    background-color: var(--color-cards);
    border-radius: 7px;
    border: var(--border-input);
    border-width: 2px;
    outline: none;
    text-align: center;
    transition: .3s;
    color: var(--color-focus);
}
.phone_fragment:focus {
    border: 2px solid var(--color-focus);
}
.phone_fragment[data-checked="true"] {
    border-color:var(--color-focus);
}
