.privateMainContainer {
    width: 100%;
    height: 100%;
    background-color: var(--color-cards);
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    grid-template-rows: 45px calc(100% - 45px);
    padding: 0px 20px 20px 0px;
    margin: 0px;
}
.privateHeader {
    background-color: var(--color-cards);
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Rubik;
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
}
.privateHeader > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.privateNavbar {
    grid-column: 1;
    grid-row: span 2;
    background-color: var(--color-cards);
    padding: 0px 10px;
    position: relative;
}
.privateNavbar > .svg {
    width: 144px;
    height: 60px;
}
.searchBar {
    margin-top: 10px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    border-radius: 7px;
    padding: 0px 5px;
}
.searchBar > input {
    width: 80%;
    height: 50px;
    outline: none;
    background-color: transparent;
    padding-left: 5px;
    font-size: var(--font-small);
    font-family: Rubik;
    color: var(--color-text);
}
::placeholder {
    color: var(--color-placeholder);
    font-size: var(--font-small);
    font-family: Rubik;
}
.searchBar > button {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    outline: none;
}
.searchBar > button  > svg {
    color: #D8D8D8;
    width: 20px;
    height: 20px;
}
.privateChildrenContainer {
    grid-column: 2;
    grid-row: 2;
    background-color: #f7f7f7;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px ;
}
.navlist {
    width: 100%;
    height: max-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.listTitle {
    margin-top: 20px;
    font-size: var(--font-small);
    font-family: Rubik;
    color: var(--color-text);
}
.navlist > li {
    width: 100%;
    height: 50px;
    border-radius: 7px;
}
.navlist > li > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 8px;
    font-size: var(--font-small);
    font-family: Rubik;
    color: #000;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
    gap: 15px;
    outline: none;
    transition: .3s;
}
.navlist > li > button > svg {
    width: 24px;
    height: 24px;
}
.navlist > li > button[data-active="true"] {
    transition: .3s;
    background-color: #FC6423;
    color: var(--color-cards);
}
.separator {
    width: 100%;
    height: 0.5px;
    background-color: #efefef;
    margin: 12.5px 0px;
}

.account {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 10px;
    height: max-content;
}
.account > .separator {
    background-color: #dbdbdb;
}
.accountCard {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;
}
.layoutProfile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 5px;
    background-size: cover;
}
.accountCard > button {
    width: 100%;
    height: 40px;
    background-color: #c801011c;
    color: #ff0000;;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-small);
    font-family: Rubik;
    font-weight: 500;
}
.accountCard > button > svg {
    width: 24px;
    height: 24px;
}
.shadow {
    border-radius: 10px;
    background-color: var(--color-cards);
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 16;
    width: 3px;
}

.notifications {
    position: relative;
}
.notificationCount {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-family: Rubik;
    font-weight: 500;
    color: #fff;
    background-color: #c80101;
    border: 2px solid #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}