.home_main {
    width: 100%;
    flex: 1;
    background-color: #f2f5fa;
    position: relative;
    padding-right: 40px;
}
.home_navbar {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 0px 80px;
    border-bottom: 1px solid var(--color-border3);
    background-color: var(--color-cards);
}
.home_main > svg {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 124px;
    z-index: 100;
    height: 37px;
}
.home_body {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 40px 0px;
}
.regLeft {
    width: 36%;
    height: 100%;
    display: flex;
    padding: 18px 0px 0px 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}
.regLeft > img {
    width: 500px;
    height: 500px;
}
.regLeft > h1{
    font-family: Rubik;
    font-size: 1.2rem;
    width: 80%;
    line-height: 60px;
    color: var(--color-text);
    text-align: center;
}
.regLeft > p {
    font-size: 1.02rem;
    font-family: Rubik;
    color: var(--color-placeholder);
    text-align: justify;
    line-height: 25px;
}
.regRight {
    background-color: var(--color-cards);
    width: 33%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--color-border3);
    min-width: 500px;
    max-width: 500px;
}
.not_found_footer {
    position: absolute;
    bottom: 20px;
    opacity: 0.7;
    left: calc(50% - 114px);
}
.last {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 30px;
}
.last > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.goToLogin {
    width: 130px;
    height: 40px;
    font-size: var(--font-small);
    font-weight: 600;
    font-family: Rubik;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .3s;
    background-color: transparent;
    color: var(--color-link);
    border: 1px solid var(--color-link);
}

@media screen and (max-width: 1130px) {
    .last{
        display: none;
    }
    .regRight {
        width: 50%;
    }
    .regLeft{
        width: 50%;
    }
}
@media screen and (max-width: 850px) {
    .home_body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: max-content;
        position: relative;
        padding: 0px;
    }
    .home_main{
        height: 100%;
        padding-right: 0px;
    }
    .regRight {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        min-width: none;
        max-width: none;
        border: none;
        border-radius: 0px;
    }
    .regLeft {
        display: none;
    }
    .stepper.horizontalStepper {
        display: flex !important;
        min-width: 632px !important;
    }

}
@media screen and (max-width: 640px) {
    .goToLogin {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    form.login_form {
        width: 100% !important;
        padding: 0px 0px;
        height: 100%;
    }
    .home_main > svg {
        display: none;
    }
    .regRight {
        justify-content: flex-start !important;
        padding-top: 20px;
        min-width: 0px;
    }
    .body_form {
        margin-top: 35px !important;
    }
    .stepper.horizontalStepper {
        min-width: calc(100% + 25px) !important;
    }
}

/*=======================LOGIN FROM =======================================*/

.login_form {
    width: 450px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header_form {
    width: 100%;
    height: max-content;
    color: var(--color-text);
    font-family: Rubik;
}
.header_form > h1 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.header_form > p {
    font-size: var(--font-small);
}
.header_form > p > a {
    text-decoration: underline;
    color: var(--color-link);
    font-family: Rubik;
}
.body_form {
    width: 100%;
    height: max-content;
    margin-top: 40px;
}
.terms {
    margin-top: 30px;
    width: 100%;
    height: max-content;
    text-align: center;
}
.terms > p {
    font-size: var(--font-small);
    font-family: Rubik;
    line-height: 22px;
    color: var(--color-placeholder);
}
.terms > p > a {
    text-decoration: underline;
    color: var(--color-link);
    font-family: Rubik;
}
ul.verticalStepper {
    height: max-content;
}
.stepper.horizontalStepper {
    display: none;
}

.accountTypes {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-bottom: 30px;
   gap: 15px;
}

.cardType {
    width: 220px;
    height: 260px;
    border-radius: 12px;
    border: 1px solid var(--color-border3);
    padding: 8px;
    transition: .3s;
}

.cardType > .image {
    background-image: url(../assets/images/ordem.png);
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 78%;
}

.cardType:nth-child(2) > .image {
    background-image: url(../assets/images/simplificada.jpg);
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 78%;
}

.cardType > .text {
    margin-top: 0px;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardType .text .info > a {
    color: var(--color-focus);
    text-decoration: underline;
}

.cardType > .text > h2 {
    font-size: var(--font-small-titles);
    font-family: Rubik;
}

.cardType:hover {
    box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    transform: translateY(-5px);
}

.cardType[data-active="true"] {
    border-color: var(--color-focus);
    background-color: var(--color-focus3);   
}