.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - 305px) 290px;
    grid-template-rows: 160px calc(100% - 175px);
    row-gap: 15px;
    column-gap: 15px;
    font-size: var(--font-small);
}
.header, .middle, .lateral {
    border-radius: 10px;
}
.middle, .lateral {
    background: var(--color-cards);
}
.header {
    grid-row: 1;
    grid-column: 1;
}

.header > .top {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header > .top > h1 {
    font-family: Inter_SemiBold;
    font-size: var(--font-page-titles);
    color: var(--color-text);
  }
  .header > .top > p {
    font-family: Inter_Regular;
    font-size: var(--font-small-titles);
    color: var(--color-text);
  }
  .header > .bottom {
    margin-top: 10px;
    width: 100%;
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
  }
  .header > .bottom > div {
    width: max-content;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 5px;
    background-color: var(--color-cards);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .header > .bottom > div > h2 {
    font-family: Inter_Regular;
    font-size: var(--font-small);
  }
  .header > .bottom > div > p {
    font-family: Inter_Regular;
    font-weight: 600;
    font-size: var(--font-small);
}
.middle {
    grid-row: 2;
    grid-column: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.middle::-webkit-scrollbar {
    display: none;
}
.lateral {
    grid-row: span 2;
    grid-column: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.all-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 91%;
    gap: 80px;
    padding: 0px 40px;
    background-color: var(--color-cards);
    border-radius: 10px;

}
.title{
    text-align: left;
    font-weight: 600;
    font-size: var(--font-small-titles);
}
.static-text{
    font-size: var(--font-small);
    font-weight: 600;
    margin-top: 10px;
}
.toMe, .another {
    background-color: var(--color-body);
    padding:20px ;
    border-radius: 10px;
    width: 100%;
    overflow-y: scroll;
    font-size: var(--font-small)
}
.toMe::-webkit-scrollbar, .another::-webkit-scrollbar {
    display: none;
}
.containerToMe, .containeranother{ 
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.stitle{ 
    text-align: center;
    margin-bottom: 20px;
}
 .destinatário{  background-color: black;
}
.input_montante {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    outline: none;
    border: var(--border-input);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    color: black;
    margin-top:10px ;   
}
.input_montante > p::after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: var(--color-border);
    position: absolute;
    margin-left: 12px;
    border-radius: 3px;
    color: black;
}
.input_montante > p {
    font-family: Inter_Regular;
    transition: .3s;
    color: black;
}
.input_montante > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: Inter_Regular;
    font-size: var(--font-small);
    transition: .3s;
    padding-left: 12px;
    color: black;
}
.static-taxte{
    margin-top: 5px;
}
.static-number{
    margin-top: 20px;
    margin-bottom:26px ;
}
.montante{
    background: none;
}
.input{ 
    width: 55px;
    margin: 10px;
    height: 55px;
    border-radius: 7px;
    border: var(--border-input);
    text-align: center;
    font-size: 20px;
    color: var(--color-text);
    font-family: Inter_Regular;
    outline: none;
}
.info{ 
    display: flex;
    border-top: var(--border-input) ;
    padding-top: 20px;
    margin-top: 25px;
    margin-bottom:25px;
    align-items: center;
    justify-content: center;
    font-size: var(--font-small-info);
    text-align: justify;
    gap: 10px;
    font-family: Inter_Light;
}
.icone{ 
    width: 55px;
    height: 55px;
}
.botao{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-cards);
    font-size: var(--font-small);
    font-family: Inter_Regular;
    background-color: var(--color-focus);
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px 0px 0px;
    border: 1px solid transparent;
    transition: .3s;
}
.botao:hover{
    border-color: var(--color-focus2);
}
.lateral > h4{
    margin:10px;
    font-weight: 600;
    font-size: var(--font-small-titles);
}
.container-up{
    position: relative;
    background:var(--color-body);
    width: 310px;
    border-radius: 5px;
    margin: 10px;
    height: 70px;
    padding:10px ;
}
.container-in{
    width: 100%;
    height: 100%;
    margin-right:10px ;
}
.container-up > p{
    font-family: Inter_Regular;
    position: absolute;
}
.container-up > p:nth-child(2){
    right: 10px;
    color:gray;

}
.container-up > p:nth-child(1){
    left: 10px;
    color: black;
}
.container-up > p:nth-child(3){
    left: 10px;
    margin-top: 30px;
    color:gray;
}
.container-up > p:nth-child(4){
    right: 10px;
    margin-top: 30px;
    color: black;
}
.lateral > .requests {
    flex: 1;
}